old_code
.env
learning_react
app_frontend
.vscode
**/public
**/node_modules
desktop.ini
web_app
cv/Neural Network Rectified Linear Unit (ReLU) vs Sigmoid.ipynb
cv/test.csv
cv/Training A Neural Network with Momentum.ipynb
cv/__pycache__
cv/plots
cv/temp_for_testing
cv/videos
webapp
__temp__.mp4
cv/.ipynb_checkpoints
cv/archive
cv/feature_extracting/gui_test_1
